#center{
    width: 100%;
    height: auto;
    background: #efefef;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    position: relative;
    padding: 120px 0px;
}
#center main{
    width: 90%;
    margin: auto;
    height: 220px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    background: white;
}
#center main ul{
    width: 100%;
    height: 50px;
    border-left: 4px solid #007bff;
}
#center main ul span>span{
    color: #458ad4;
    cursor: pointer;
}
#center .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 8px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}



/*Dismissable Section */
#Dismissable{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: 450px;
    position: relative;
}
#Dismissable .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Dismissable .left h4{
    font-size: 0.85em;
    color: gray;
}
#Dismissable .left p{
    font-size: 0.85em;
    color: gray;
}
#Dismissable .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 20px;
}
#Dismissable .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 80px 0px;
    background: #dfdbdb;    
}
#Dismissable .right main{
    width: 80%;
}
#Dismissable .right main .moda{
    transition: all 0.1s ease-in-out;
    transform: scale(1,1);
}
#Dismissable .right main .moda h5{
    font-size: 0.9em;
}
#Dismissable .right main .moda p{
    font-size: 0.8em;
    color: gray;
}
#Dismissable .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}


/*  Pager Section*/
#Colors{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: 500px;
    position: relative;
}
#Colors .left{
    padding: 10px 0px 0px 10px;
    background: white;
    
}
#Colors .left h4{
    font-size: 0.85em;
    color: gray;
}
#Colors .left p{
    font-size: 0.85em;
    color: gray;
}
#Colors .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style-type: circle
}
#Colors>.right{
    background: #efefef;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 140px 0px;

}
#Colors main{
    width: 90%;
    margin: auto;
    height: 220px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
}
#Colors main ul{
    width: 100%;
    height: 50px;
    border-left: 4px solid #007bff;
    margin: 20px;
    font-size: 0.9em;
    color: rgb(85, 79, 79);
}
#Colors main ul span>span{
    color: #458ad4;
    cursor: pointer;
}


#Colors .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}
