#center{
    width: 100%;
    height: auto;
    background: #efefef;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    position: relative;
    padding: 120px 0px;
}
#center main{
    width: 50%;
    margin: auto;
    height: 200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    flex-wrap: wrap;
    padding: 20px;
    background: white;
}
#center main>div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    align-self:center;
    width: 100%!important;
}
#center main button{
    width: 25%;
    margin: 10px 0px;
}

#center .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 8px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}



/*Colors Section */
#Colors{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: auto;
    position: relative;
}
#Colors .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Colors .left h4{
    font-size: 0.95em;
    color: rgb(95, 93, 93);
}

#Colors .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style: circle;
}
#Colors .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 125px 0px;
    background: #dfdbdb;    
}

#Colors .right  main{
    width: 80%;
    margin: auto;
    height: 200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    flex-wrap: wrap;
    padding: 20px;
    background: white;
}
#Colors .right  main>div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    align-self:center;
    width: 100%!important;
}
#Colors .right  main button{
    width: 25%;
    margin: 10px 0px;
}



#Colors .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}



/*Outline Section */
#Outline{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: auto;
    position: relative;
}
#Outline .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Outline .left h4{
    font-size: 0.95em;
    color: rgb(95, 93, 93);
}
#Outline .left p{
    font-size: 0.85em;
    color: rgb(95, 93, 93);
}
#Outline .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style: circle;
}
#Outline .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 125px 0px;
    background: #dfdbdb;    
}

#Outline .right  main{
    width: 80%;
    margin: auto;
    height: 200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    flex-wrap: wrap;
    padding: 20px;
    background: white;
}
#Outline .right  main>div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    align-self:center;
    width: 100%!important;
}
#Outline .right  main button{
    width: 25%;
    margin: 10px 0px;
    color: black;
    background: white;
    outline: none;
    border: 1px solid rgb(216, 214, 214);
}
#Outline .right  main button:focus{
    transition: all 0.3s ease-in-out;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(164, 168, 168, 0.5);
}

#Outline .right  main .top button:nth-child(1):focus{
    background: #00daf6;
}
#Outline .right  main .top button:nth-child(2):focus{
    background: #8a78ad;
}
#Outline .right  main .top button:nth-child(3):focus{
    background: #00daf6;
}
#Outline .right  main .bottom button:nth-child(1):focus{
    background: #16d232;
}
#Outline .right  main .bottom button:nth-child(2):focus{
    background: #ef6a3e;
}
#Outline .right  main .bottom button:nth-child(3):focus{
    background: #e73b77;
}

#Outline .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}



/*Icon Section */
#Icon{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: auto;
    position: relative;
}
#Icon .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Icon .left h4{
    font-size: 0.95em;
    color: rgb(95, 93, 93);
}
#Icon .left p{
    font-size: 0.85em;
    color: rgb(95, 93, 93);
}
#Icon .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style: circle;
}
#Icon .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 89px 0px;
    background: #dfdbdb;    
}

#Icon .right  main{
    width: 80%;
    margin: auto;
    height: auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    flex-wrap: wrap;
    padding: 20px;
    background: white;
}
#Icon .right  main>div{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
    align-self:center;
    width: 100%!important;
}
#Icon .right  main .topSquare button,#Icon .right  main .bottomSquare button{
    width: 12%;
    margin: 10px 0px;
    color: black;
    background: white;
    outline: none;
    border: 1px solid rgb(216, 214, 214);
    border-radius: 5px;
}
#Icon .right  main .topCircle button,#Icon .right  main .bottomCircle button{
    width: 40px;
    margin: 10px 0px;
    color: black;
    background: white;
    outline: none;
    border: 1px solid rgb(216, 214, 214);
    border-radius: 100%!important;
}
#Icon .right  main button:focus{
    transition: all 0.3s ease-in-out;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(164, 168, 168, 0.5);
}

#Icon .right  main .topSquare button:nth-child(1):focus{
    background: #00daf6;
}
#Icon .right  main .topSquare button:nth-child(2):focus{
    background: #8a78ad;
}
#Icon .right  main .topSquare button:nth-child(3):focus{
    background: #00daf6;
}
#Icon .right  main .topSquare button:nth-child(4){
    background: #00daf6;
}
#Icon .right  main .topSquare button:nth-child(5){
    background: #8a78ad;
}
#Icon .right  main .topSquare button:nth-child(6){
    background: #00daf6;
}


#Icon .right  main .bottomSquare button:nth-child(1):focus{
    background: #16d232;
}
#Icon .right  main .bottomSquare button:nth-child(2):focus{
    background: #ef6a3e;
}
#Icon .right  main .bottomSquare button:nth-child(3):focus{
    background: #e73b77;
}
#Icon .right  main .bottomSquare button:nth-child(4){
    background: #16d232;
}
#Icon .right  main .bottomSquare button:nth-child(5){
    background: #ef6a3e;
}
#Icon .right  main .bottomSquare button:nth-child(6){
    background: #e73b77;
}


#Icon .right  main .topCircle button:nth-child(1):focus{
    background: #00daf6;
}
#Icon .right  main .topCircle button:nth-child(2):focus{
    background: #8a78ad;
}
#Icon .right  main .topCircle button:nth-child(3):focus{
    background: #00daf6;
}
#Icon .right  main .topCircle button:nth-child(4){
    background: #00daf6;
}
#Icon .right  main .topCircle button:nth-child(5){
    background: #8a78ad;
}
#Icon .right  main .topCircle button:nth-child(6){
    background: #00daf6;
}


#Icon .right  main .bottomCircle button:nth-child(1):focus{
    background: #16d232;
}
#Icon .right  main .bottomCircle button:nth-child(2):focus{
    background: #ef6a3e;
}
#Icon .right  main .bottomCircle button:nth-child(3):focus{
    background: #e73b77;
}
#Icon .right  main .bottomCircle button:nth-child(4){
    background: #16d232;
}
#Icon .right  main .bottomCircle button:nth-child(5){
    background: #ef6a3e;
}
#Icon .right  main .bottomCircle button:nth-child(6){
    background: #e73b77;
}

#Icon .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}




/*Outline Section */
#Custom{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: auto;
    position: relative;
}
#Custom .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Custom .left h4{
    font-size: 0.95em;
    color: rgb(95, 93, 93);
}
#Custom .left p{
    font-size: 0.85em;
    color: rgb(95, 93, 93);
}
#Custom .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style: circle;
}
#Custom .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 75px 0px;
    background: #dfdbdb;    
}

#Custom .right  main{
    width: 80%;
    margin: auto;
    height: 300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    flex-wrap: wrap;
    padding: 20px;
    background: white;
}
#Custom .right  main>div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    align-self:center;
    width: 100%!important;
}
#Custom .right  main button{
    width: 25%;
    margin: 10px 0px;
    color: black;
    background: #ffffff;
    outline: none;
    border: 1px solid rgb(255, 252, 252);
}
#Custom .right  main button:focus{
    transition: all 0.3s ease-in-out;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(246, 248, 248, 0.5);
}

#Custom .right  main .top button:nth-child(1):focus{
    background: #00daf6;
}
#Custom .right  main .top button:nth-child(2):focus{
    background: #8a78ad;
}
#Custom .right  main .top button:nth-child(3):focus{
    background: #00daf6;
}

#Custom .right  main .main button:nth-child(1){
    color: #16d232;
}
#Custom .right  main .main button:nth-child(2){
    color: #ef6a3e;
}
#Custom .right  main .main button:nth-child(3){
    color: #e73b77;
}
#Custom .right  main .main button:nth-child(1):focus{
    background: #16d232;
    color: white;
}
#Custom .right  main .main button:nth-child(2):focus{
    background: #ef6a3e;
    color: white;
}
#Custom .right  main .main button:nth-child(3):focus{
    background: #e73b77;
    color: white;
}


#Custom .right  main .bottom button:nth-child(1){
    color: #00daf6;
}
#Custom .right  main .bottom button:nth-child(2){
    color: #00daf6;
}
#Custom .right  main .bottom button:nth-child(3){
    color: #16d232;
}
#Custom .right  main .bottom button:nth-child(1):hover{
    opacity: 0.7;
}
#Custom .right  main .bottom button:nth-child(2):hover{
    opacity: 0.7;
}
#Custom .right  main .bottom button:nth-child(3):hover{
    opacity: 0.7;
}

#Custom .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}




/*Icon Section */
#Sizes{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: auto;
    position: relative;
}
#Sizes .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Sizes .left h4{
    font-size: 0.95em;
    color: rgb(95, 93, 93);
}
#Sizes .left p{
    font-size: 0.85em;
    color: rgb(95, 93, 93);
}
#Sizes .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style: circle;
}
#Sizes .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 50px 0px;
    background: #dfdbdb;    
}

#Sizes .right  main{
    width: 80%;
    margin: auto;
    height: 350px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    flex-wrap: wrap;
    padding: 20px;
    background: white;
}
#Sizes .right  main>div{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
    align-self:center;
    width: 100%!important;
}

#Sizes .right  main button,#Icon .right  main button{
    margin: 10px 0px;
    color: black;
    background: white;
    outline: none;
    border: 1px solid rgb(216, 214, 214);
}
#Sizes .right  main button:focus{
    transition: all 0.3s ease-in-out;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(230, 238, 238, 0.5);
}
#Sizes .right  main .First button{
    color: black;
    border-radius: 5px!important;
}
#Sizes .right  main .First button:nth-child(1){
    background: #7863a0;
    color: white!important;
}
#Sizes .right  main .First button:nth-child(2):focus{
    background: #8a78ad;
    color: white!important;
}
#Sizes .right  main .First button:nth-child(3):focus{
    background: #7863a0;
    color: white!important;
}
#Sizes .right  main .First button:nth-child(4){
    background: #7863a0;
    color: white!important;
}
#Sizes .right  main .First button:nth-child(3){
    border-radius: 100%!important;
}
#Sizes .right  main .First button:nth-child(4){
    border-radius: 100%!important;
}



#Sizes .right  main .Second button{
    color: black;
    border-radius: 5px!important;
}
#Sizes .right  main .Second button:nth-child(1){
    background: #00daf6;
    color: white!important;
}
#Sizes .right  main .Second button:nth-child(2):focus{
    background: #00daf6;
    color: white!important;
}
#Sizes .right  main .Second button:nth-child(3):focus{
    background: #00daf6;
    color: white!important;
}
#Sizes .right  main .Second button:nth-child(4){
    background: #00daf6;
    color: white!important;
}
#Sizes .right  main .Second button:nth-child(3){
    border-radius: 100%!important;
}
#Sizes .right  main .Second button:nth-child(4){
    border-radius: 100%!important;
}


#Sizes .right  main .Third button{
    color: black;
    border-radius: 5px!important;
}
#Sizes .right  main .Third button:nth-child(1){
    background: #16d232;
    color: white!important;
}
#Sizes .right  main .Third button:nth-child(2):focus{
    background: #16d232;
    color: white!important;
}
#Sizes .right  main .Third button:nth-child(3):focus{
    background: #16d232;
    color: white!important;
}
#Sizes .right  main .Third button:nth-child(4){
    background: #16d232;
    color: white!important;
}
#Sizes .right  main .Third button:nth-child(3){
    border-radius: 100%!important;
}
#Sizes .right  main .Third button:nth-child(4){
    border-radius: 100%!important;
}



#Sizes .right  main .Four button{
    color: black;
    border-radius: 5px!important;
}
#Sizes .right  main .Four button:nth-child(1){
    background: #ef6a3e;;
    color: white!important;
}
#Sizes .right  main .Four button:nth-child(2):focus{
    background: #ef6a3e;
    color: white!important;
}
#Sizes .right  main .Four button:nth-child(3):focus{
    background: #ef6a3e;
    color: white!important;
}
#Sizes .right  main .Four button:nth-child(4){
    background: #ef6a3e;
    color: white!important;
}
#Sizes .right  main .Four button:nth-child(3){
    border-radius: 100%!important;
}
#Sizes .right  main .Four button:nth-child(4){
    border-radius: 100%!important;
}


#Sizes .right  main .btn-block{
    background: #c7254e;
    color: #dfdbdb;
}


#Sizes .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}




/*Colors Section */
#Groups{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: auto;
    position: relative;
}
#Groups .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Groups .left h4{
    font-size: 0.95em;
    color: rgb(95, 93, 93);
}
#Groups .left p{
    font-size: 0.85em;
    color: rgb(83, 79, 79);
}
#Groups .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style: circle;
}
#Groups .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 125px 0px;
    background: #dfdbdb;    
}

#Groups .right  main{
    width: 80%;
    margin: auto;
    height: 200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    flex-wrap: wrap;
    padding: 20px;
    background: white;
}
#Groups .right  main>div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    align-self:center;
}
#Groups .right  main label{
    margin: 10px 0px;
    background: #7863a0;
    border: none;
}



#Groups .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}


/*Colors Section */
#Toolbars{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: auto;
    position: relative;
}
#Toolbars .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Toolbars .left h4{
    font-size: 0.95em;
    color: rgb(95, 93, 93);
}
#Toolbars .left p{
    font-size: 0.85em;
    color: rgb(83, 79, 79);
}
#Toolbars .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style: circle;
}
#Toolbars .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 125px 0px;
    background: #dfdbdb;    
}

#Toolbars .right  main{
    width: 80%;
    margin: auto;
    height: 200px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 20px;
    background: white;
}
#Toolbars .right  main>div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    align-self:center;
    margin: 0px 5px;
}
#Toolbars .right  main label{
    margin: 10px 0px;
    background: #7863a0;
    border: none;
}



#Toolbars .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}





/*Vertical Section */
#Vertical{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: 450px;
    position: relative;
}
#Vertical .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Vertical .left h4{
    font-size: 0.95em;
    color: rgb(95, 93, 93);
}
#Vertical .left p{
    font-size: 0.85em;
    color: rgb(83, 79, 79);
}
#Vertical .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style: circle;
}
#Vertical .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 125px 0px;
    background: #dfdbdb;    
}

#Vertical .right  main{
    width: 80%;
    margin: auto;
    height: 200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    flex-wrap: wrap;
    padding: 20px;
    background: white;
}
#Vertical .right  main>div{
    display: flex;
    flex-direction: column;
    width: 15%;
    
}
#Vertical .right  main label{
    background: #7863a0;
    border: none;
    border-radius: 5px!important;
}



#Vertical .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}



/*GroupSize Section */
#GroupSize{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: 450px;
    position: relative;
}
#GroupSize .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#GroupSize .left h4{
    font-size: 0.95em;
    color: rgb(95, 93, 93);
}
#GroupSize .left p{
    font-size: 0.85em;
    color: rgb(83, 79, 79);
}
#GroupSize .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style: circle;
}
#GroupSize .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 125px 0px;
    background: #dfdbdb;    
}

#GroupSize .right  main{
    width: 80%;
    margin: auto;
    height: 200px;
    display:flex;
    flex-direction:column;
    padding: 20px;
    background: white;
}
#GroupSize .right  main>div{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    align-self:center;
    width: 100%;
}
#GroupSize .right  main div:nth-child(1) label{
    width: 17%;
}
#GroupSize .right  main div:nth-child(2) label{
    width: 14%;
    background: #209ca9;
}
#GroupSize .right  main div:nth-child(3) label{
    width: 11%;
    background: #d84412;
    font-size: 0.8em;
}
#GroupSize .right  main div:nth-child(4) label{
    width: 9%;
    background: #e31e62;
    font-size: 0.7em;
}
#GroupSize .right  main label{
    margin: 10px 0px;
    background: #7863a0;
    border: none;
}



#GroupSize .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}





/*Justify Section */
#Justify{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: 450px;
    position: relative;
}
#Justify .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Justify .left h4{
    font-size: 0.95em;
    color: rgb(95, 93, 93);
}
#Justify .left p{
    font-size: 0.85em;
    color: rgb(83, 79, 79);
}
#Justify .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style: circle;
}
#Justify .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 125px 0px;
    background: #dfdbdb;    
}

#Justify .right  main{
    width: 80%;
    margin: auto;
    height: 200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 20px;
    background: white;
}
#Justify .right  main>div{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    align-self:center;
    width: 100%;
}
#Justify .right  main label{
    width: 34%;
}

#Justify .right  main label{
    margin: 10px 0px;
    background: #7863a0;
    border: none;
}
#Justify .right  main label:focus{
    box-shadow: 0 0 0 0.2rem rgba(156, 150, 151, 0.5);
}

#Justify .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}




/*Justify Section */
#Nesting{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: 450px;
    position: relative;
}
#Nesting .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Nesting .left h4{
    font-size: 0.95em;
    color: rgb(95, 93, 93);
}
#Nesting .left p{
    font-size: 0.85em;
    color: rgb(83, 79, 79);
}
#Nesting .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 50px;
    list-style: circle;
}
#Nesting .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 125px 0px;
    background: #dfdbdb;    
}

#Nesting .right  main{
    width: 80%;
    margin: auto;
    height: 200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 20px;
    background: white;
}
#Nesting .right  main>div{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    align-self:center;
    width: 100%;
}
#Nesting .right  main label{
    width: 17%;
}

#Nesting .right  main label{
    margin: 10px 0px;
    background: #7863a0;
    border: none;
}
#Nesting .right  main button{
    background: #7863a0;
    border: none;
}
#Nesting .right  main button:focus{
    box-shadow: 0 0 0 0.2rem rgba(156, 150, 151, 0.5);
}
#Nesting .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}
