#center{
    height: auto;
    background: #efefef;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    position: relative;
    padding: 120px 0px;
    margin: 0px;
}
#center main{
    width: 40%;
    margin: auto;
}
#center .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 8px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}


/* Basic Section */
#Basic{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: auto;
    position: relative;
}
#Basic .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Basic .left h4{
    font-size: 0.85em;
    color: gray;
}
#Basic .left p{
    font-size: 0.85em;
    color: gray;
}
#Basic .right{
    display:flex;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 33px 0px;
    background: #efefef;    
}
#Basic .right main{
    width: 50%;
}
#Basic .right main ul{
    margin-top: 31px;
} 
#Basic .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}



/*  Pager Section*/
#Color{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: 500px;
    position: relative;
}
#Color .left{
    padding: 10px 0px 0px 10px;
    background: white;
    
}
#Color .left h4{
    font-size: 0.85em;
    color: gray;
}
#Color .left p{
    font-size: 0.85em;
    color: gray;
}
#Color .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
#Color>.right{
    background: #efefef;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 46px 0px;

}
#Color .right main{
    width: 95%;
}
#Color .right main ul{
    margin-bottom: 20px;
}
#Color .right main ul:nth-child(1) li:nth-child(1){
    background: #7863a0;
    color:white;
}
#Color .right main ul:nth-child(2) li:nth-child(1){
    background: #209ca9;
    color:white;
}
#Color .right main ul:nth-child(3) li:nth-child(1){
    background: #e31e62;
    color:white;
}


#Color .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}
