#center{
    width: 100%;
    height: auto;
    background: #efefef;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    position: relative;
    padding: 120px 0px;
}
#center main{
    width: 45%;
    margin: auto;
    height: 300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    align-self:center;
    background: white;
    padding: 20px;
}
#center main button{
    color: #fff;
    border: none;
    background-color: #7863a0;
    outline:none;

}
#center main button:focus{
    box-shadow: 0 0 0 0.2rem rgba(65, 60, 61, 0.5);
}

#center .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 8px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}



/*Placement Section */
#Placement{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: 450px;
    position: relative;
}
#Placement .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Placement .left h4{
    font-size: 0.85em;
    color: gray;
}
#Placement .left p{
    font-size: 0.85em;
    color: gray;
}
#Placement .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 20px;
}
#Placement .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 73px 0px;
    background: #dfdbdb;    
}
#Placement .right main{
    padding: 83px;
    width: 80%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    align-self:center;
}
#Placement .right main button{
    width: 120%;
    color: #fff;
    background-color: #7863a0;
    outline:none;
    border: none;
    margin: 12px;
}
#Placement main button:focus{
    box-shadow: 0 0 0 0.2rem rgba(65, 60, 61, 0.5);
}




#Placement .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}


/*Dismissable Section */
#Dismissable{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    height: 450px;
    position: relative;
}
#Dismissable .left{
    padding: 20px 0px 0px 10px;
    background: white;
}
#Dismissable .left h4{
    font-size: 0.85em;
    color: gray;
}
#Dismissable .left p{
    font-size: 0.85em;
    color: gray;
}
#Dismissable .left li{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    margin-left: 20px;
}
#Dismissable .right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-self:center;
    padding: 111px 0px;
    background: #dfdbdb;    
}
#Dismissable .right main{
    padding: 83px;
    width: 80%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    align-self:center;
}
#Dismissable .right main button,#Dismissable .right main a{
    width: 120%;
    color: #fff;
    background-color: #7863a0;
    outline:none;
    margin: 12px;
    border: none;
}
#Dismissable .right main a{
    font-size: 0.9em;
}
#Dismissable main .btn-danger:active{
    box-shadow: 0 0 0 0.2rem rgba(65, 60, 61, 0.5);
}



#Dismissable .rightTop{
    width: 65px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: 30px;
    background: rgb(19, 18, 18);
    color: white;
    border-radius: 5px!important;
}